.forgotPassword {
      align-items: center;
      text-align: center;
      background-color: yellow;
      padding: 300px;
}

.forgotPassword>.error{
      color: rgb(43, 255, 0);
}

.forgotPassword>.error>h1{
      color: red;
      font-family:cursive;
}